<div class="row" id="loading">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <img class="center-block" src="/images/loading.svg">
  </div>
  <div class="col-xs-1">
  </div>
</div>
<%
  var template = '';
  var oid = req.param('oid');
  var type = req.param('type') || '';
  if(type != '') {
    template = '<' + type + '-form oid="' + oid + '" editMode="true" recordType="'+ recordType +'"></' + type + '-form>';
  } else {
    template = '<dmp-form oid="' + oid + '" editMode="true" recordType="'+ recordType +'"></dmp-form>';
  }
%>
<%- template %>
<!-- DateTime Picker Deps -->
<script src="/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<link href='/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' rel='stylesheet' type='text/css'>
<script src="/node_modules/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<link href='/node_modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css' rel='stylesheet' type='text/css'>
<% if (!sails.config.ng2.use_bundled) {
<!-- Import and Load angular 2 if on dev mode-->
  var config = "/dynamic/systemjs-config.js?appName=dmp";
  if(type != '') {
    config = '/dynamic/systemjs-config.js?appName=' + type;
  }
%>
<script src="<%= config %>"></script>
<script>
  var type = "<%= type %>";
  if(type != ''){
    System.import(type).catch(function(err){ console.error(err); });
  } else {
    System.import("dmp").catch(function(err){ console.error(err); });
  }
</script>
<% } %>
