<div class="row" id="loading">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <img class="center-block" src="/images/loading.svg">
  </div>
  <div class="col-xs-1">
  </div>
</div>
  <%
  var template = '';
  var oid = req.param('oid');
  var type = req.param('type') || '';
  if(type !== '') {
    template = '<' + type + '-form oid="' + oid + '" editMode="false"></' + type + '-form>';
  } else {
    template = '<dmp-form oid="' + oid + '" editMode="false" ></dmp-form>';
  }
  %>
  <%- template %>
<% if (!sails.config.ng2.use_bundled) {
<!-- Import and Load angular 2 if on dev mode-->
  var config = "/dynamic/systemjs-config.js?appName=dmp";
  var type = req.param('type') || '';
  if(type != '') {
    config = '/dynamic/systemjs-config.js?appName=' + type;
  }
  %>
<script src="<%= config %>"></script>
<script>
  var type = "<%= type %>"
  if(type != ''){
    System.import(type).catch(function(err){ console.error(err); });
  } else {
    System.import("dmp").catch(function(err){ console.error(err); });
  }
</script>
<% } %>
