<div class="container">
  <div *ngIf="!field.hasSession" class="row form-group">
    <form  #form="ngForm" (ngSubmit)="field.login(form.value)" novalidate autocomplete="off">
      <h4>{{ field.permissionStep1 }}</h4>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" ngModel>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" ngModel>
      </div>
      <div class="form-group">
        <div *ngIf="field.loginMessageForm.message" class="alert alert-{{ field.loginMessageForm.class }}" class="form-group">
          {{ field.loginMessageForm.message }}
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
  <div *ngIf="field.hasSession" class="row form-group">
    <div class="row mt-3 form-group">
      <table class="table">
        <thead>
          <tr>
            <ng-container *ngFor="let header of field.columns"><th>{{ header.label }}</th></ng-container>
            <th>RDMP</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of field.workspaces">
            <ng-container *ngFor="let column of field.columns">
              <td *ngIf="column.show != false">
                <span *ngIf="column.link != null; else noProcessing "><a href="/{{ branding }}/{{ portal }}/{{ column.link.pattern}}"></a></span>
                <ng-template #multivalue></ng-template>
                <ng-template #noProcessing><span >{{ item[column.property] }}</span></ng-template>
              </td>
            </ng-container>
            <td>
              <span *ngIf="item.rdmp; else isNotLinked ">
                <button type="button" disabled class="btn btn-success btn-block" *ngIf="item.rdmp.info.rdmp === field.rdmp"> Linked </button>
                <button type="button" disabled class="btn btn-info btn-block" *ngIf="item.rdmp.info.rdmp != field.rdmp"> Linked to another RDMP</button>
              </span>
              <ng-template #isNotLinked>
                <button type="button" class="btn btn-info btn-block" (click)="field.linkWorkspace(item)"> Link </button>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="field.loading" class="row">
        <img class="center-block" src="/images/loading.svg">
      </div>
    </div>
    <div class="row mt-3 form-group">
      <button type="button" class="btn btn-default" (click)="field.projects()"><i class="fa fa-refresh"></i>&nbsp;Sync</button>
      <button type="button" class="btn btn-success" (click)="field.loadCreateWorkspaceModal()"><i class="fa fa-plus-square"></i>&nbsp;Create</button>
    </div>
  </div>
  <div class="row mt-3 form-group">
    <button type="button" class="btn btn-default" (click)="field.sendToRDMP()">Back to your Plan</button>
  </div>
</div>
<div id="createModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create Workspace</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="field.loadingModal" class="row">
          <img class="center-block" src="/images/loading.svg">
        </div>
        <div *ngIf="!field.loadingModal">
          <h5>Workspace Details</h5>
          <form *ngIf="!field.creation.created" #form="ngForm" (ngSubmit)="field.create(form.value)" novalidate autocomplete="off">
            <div class="form-group">
              <h4>Name your workspace</h4>
              <input required minlength="4" type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="form-group">
              <h4>Add a description</h4>
              <input required minlength="4" type="text" class="form-control" name="description" ngModel>
            </div>
            <div class="form-group">
              <div *ngIf="field.creation.message" class="alert alert-{{ field.creation.alert }}" class="form-group">
                <span *ngIf="field.creation.alert == 'danger' || field.creation.alert == 'success'; then isDone; else isSpinning"></span>{{ field.creation.message }}
                <ng-template #isDone>
                  <i class="fa fa-check-circle"></i>
                </ng-template>
                <ng-template #isSpinning>
                  <i class="fa fa-spinner fa-spin"></i>
                </ng-template>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Create</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        &nbsp;
      </div>
    </div>
  </div>
</div>
